/* /home/pkimani/getting-started-app/styles/globals.css */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Satisfy&display=swap');

/* Light theme colors */
:root { 
  --background-color: #ffffff; /* White background */
  --text-color: #000000; /* Black text */
  --primary-color: #1976d2; /* Primary color */
  --link-color: #1976d2; /* Link color */
  --link-hover-color: #1f8efd; /* Link hover color */
  --border-radius: 12px;
  --titlebar-bg: #1976d2; /* Title bar background for light theme */
}

/* Dark theme colors */
body.dark {
  --background-color: #121212; /* Dark background */
  --text-color: #e0e0e0; /* Light text */
  --primary-color: #333333; /* Dark primary color */
  --link-color: #bb86fc; /* Purple link color */
  --link-hover-color: #bb86fc; /* Purple link hover color */
  --titlebar-bg: #616161; /* Medium gray title bar for dark theme */
}

/* Pink theme colors */
body.pink {
  --background-color: #fce4ec; /* Light pink background */
  --text-color: #880e4f; /* Dark pink text */
  --primary-color: #ec407a; /* Pink primary color */
  --link-color: #f06292; /* Light pink link color */
  --link-hover-color: #f06292; /* Light pink link hover color */
  --titlebar-bg: #d81b60; /* Medium pink title bar */
}

/* Green theme colors */
body.green {
  --background-color: #e8f5e9; /* Light green background */
  --text-color: #1b5e20; /* Dark green text */
  --primary-color: #66bb6a; /* Green primary color */
  --link-color: #81c784; /* Light green link color */
  --link-hover-color: #81c784; /* Light green link hover color */
  --titlebar-bg: #388e3c; /* Medium green title bar */
}

/* Yellow theme colors */
/* Yellow theme colors */
body.yellow {
  --background-color: #FFF78A; /* Light yellow background */
  --text-color: #FFAD84; /* Dark yellow text */
  --primary-color: #FFE382; /* Yellow primary color */
  --link-color: #FFC47E; /* Light yellow link color */
  --link-hover-color: #FFC47E; /* Light yellow link hover color */
  --titlebar-bg: #FFC47E; /* Medium yellow title bar */
}

/* Purple theme colors */
body.purple {
  --background-color: #f3e5f5; /* Light purple background */
  --text-color: #6a1b9a; /* Dark purple text */
  --primary-color: #9c27b0; /* Purple primary color */
  --link-color: #ab47bc; /* Light purple link color */
  --link-hover-color: #ab47bc; /* Light purple link hover color */
  --titlebar-bg: #7b1fa2; /* Medium purple title bar */
}

/* Indigo theme colors */
body.indigo {
  --background-color: #e8eaf6; /* Light indigo background */
  --text-color: #283593; /* Dark indigo text */
  --primary-color: #3f51b5; /* Indigo primary color */
  --link-color: #5c6bc0; /* Light indigo link color */
  --link-hover-color: #5c6bc0; /* Light indigo link hover color */
  --titlebar-bg: #303f9f; /* Medium indigo title bar */
}

/* Base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body a:link {
  color: white;
  text-decoration: none;
}

body a:visited {
  color: white;
  text-decoration: none;
}

body a:hover {
  color: white;
  text-decoration: none;
}

body a:hover {
  color: white;
  text-decoration: none;
}

/* TopBar styles */
.topBar {
  background-color: var(--titlebar-bg);
  color: var(--text-color);
}

.topBar a {
  text-decoration: none;
}

.topBar a.siteTitle {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
}

.topBar a.siteTitle:link {
  color: var(--text-color);
  text-decoration: none;
}

.topBar a.siteTitle:visited {
  color: var(--text-color);
  text-decoration: none;
}

.topBar a.siteTitle:hover {
  color: var(--text-color);
  text-decoration: none;
}

.topBar a.siteTitle:active {
  color: var(--text-color);
  text-decoration: none;
}

/* Sidebar styles */
.sidebar {
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar a {
  color: var(--link-color);
  text-decoration: none;
}

.sidebar a:hover {
  color: var(--link-hover-color);
}

/* ArticleGrid styles */
.articleGrid {
  margin-left: 5vw;
}

/* ArticleCard styles */
.articleCard {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 20px;
}

.articleCard a {
  text-decoration: none;
}

.articleCard .titleText a {
  color: var(--link-color);
}

.articleCard .titleText a:hover {
  color: var(--link-hover-color);
}

.articleCard .titleText a:visited {
  color: var(--link-color);
}

.articleCard .titleText a:active {
  color: var(--link-hover-color);
}

.articleCard .descriptionText {
  color: var(--text-color);
}

.articleCard .imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.articleCard .responsiveImage {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* Continue with the rest of your global styles */