# /etc/systemd/system/celery.service

[Unit]
Description=Celery Worker

[Service]
Type=simple
User=pkimani
Group=pkimani
EnvironmentFile=/home/pkimani/getting-started-app/Configuration/environment_variables
ExecStart=/home/pkimani/getting-started-app/Configuration/Celery/start-celery.sh
Restart=always

[Install]
WantedBy=multi-user.target